.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.auth_input {
  position: absolute;
  top: 200px;
  left: 200px;
  border: none;
  border-bottom: 1px solid green;
  padding: 5px;
  font-family: monospace;
  font-size: 14pt;
  color: green;
}

.auth_input:focus, .auth_input:focus-visible {
  outline: none;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
