.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.auth_input {
  position: absolute;
  top: 200px;
  left: 200px;
  border: none;
  border-bottom: 1px solid green;
  padding: 5px;
  font-family: monospace;
  font-size: 14pt;
  color: green;
}

.auth_input:focus, .auth_input:focus-visible {
  outline: none;
}

/* EXPLORER */
.explorer_container {
  position: relative;
  display: block;
  height: 100vh;
  padding: 5px 20px;
  background-color: lightslategrey;
}
.explorer_grid {
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgray;
}
.explorer_header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.explorer_header_fileinput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.explorer_header_fileinput + label {
  font-weight: bolder;
  font-size: 9pt;
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  padding: 1px 4px;
  margin-right: 10px;
  margin-bottom: 2px;
}
.explorer_header_fileinput:focus + label, .explorer_header_fileinput + label:hover {
  border-color: lightgrey;
  color: lightgrey;
}
.explorer_header_fileinput:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

/* LABEL */
.icon_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 80px;
  margin: 10px;
  align-items: center;
}
.icon_container:hover {
  color:lightslategray;
}
.icon_box {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 7px;
  background-color: bisque;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}
.icon_box_selected {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 7px;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
}
.icon_box:hover, .icon_box_selected:hover {
  border-color: lightslategray;
  color: lightslategray;
  cursor: pointer;
}
.icon_text {
  margin-top: 5px;
  font-family: monospace;
  font-size: 8pt;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.icon_tooltip {
  display: none;
}
.icon_text:hover + .icon_tooltip {
  position: absolute;
  bottom: -50px;
  left: -10px;
  max-width: 150px;
  display: block;
  z-index: 99;
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  padding: 5px;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 8pt;
}

/* BreadCrambs */
.breads_container {
  position: relative;
  display: flex;
}
.breads_element {
  font-family: monospace;
  margin: 0;
}
.breads_element:hover {
  color:lightgrey;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
